<div class="index_layout">
    <header class="message">Welcome to Kanban Boards!</header>

    <form method="POST" action="/kanbanBoard" class="boardCreate">
        <input name="boardTitle" class="inputs" type="text" placeholder="Insert board name" required><br>
        <button type="submit" class="submit">Create Board!</button>
    </form>

    <form method="GET" action="/kanbanBoard" class="boardSelect">
        <label class="label">Select Board</label>
        <select class="inputs" id = "kanbanBoard" name='boardID'>
            <%kanban_boards.each do |board|%>
                <%="<option value = '#{board.id}'>#{board.title}</option>"%>
            <%end%>
        </select><br>
        <button type="submit" class="submit">Go!</button>
    </form>
</div>