<!DOCTYPE HTML>
<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
    
    <body>
        <header style="position:absolute; top:50%; left:50%">
            <h1>Welcome to Kanban Boards!</h1>
        </header>
    </body>
</html>
    