* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.jpg");
    height: 100vwh;
}

header {
    background-color: #00b386;
    }

    /* Text */

h1 {
 color: white;
 text-align: center;
 font-size: 4vh;
 padding-top: 8vh;
 padding-bottom: 8vh;
}

p {
    color: grey;
    line-height: 2.5em;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1em;
}

h2 {
    size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00b386;
}

h3 {
    size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1C7478;
}

/* Colummn set */

.column_1 {
    display: flex;
    width: 80%;
    float: left;
}

.column_2 {
    display: flex;
    width: 20%;

}

/* New task */

.Insert_Task {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    margin-top: 10vh;
}

.task_form {
    padding-left: 5px;
    padding-right: 5px;
}

.task_text {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-bottom: 5px;
}
/* Grid */
.grid {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'box_1 box_2 box_3';
    margin: 0;
    width: 100%;
    margin: 20px;
    grid-column-gap: 20px;
}

.box {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #eceaea;
    height: 80vh;
}

.box_1 {
    grid-area: box_1;
}

.box_2 {
    grid-area: box_2;
}

.box_3 {
    grid-area: box_3;
}

.task {
    background-color: white;
    border: 1px solid white;
    margin: 15px;
}

.index_layout {
    display: grid;
    height: 100vh;
    background-color: #00b386;
    grid-template-areas:
    '. . . .'
    'Title Title Title Title'
    '. boardCreation boardSelection .'
    '. . . .'
}

.message {
    color: white;
    grid-area: Title;
    font-size: 80px;
    margin: auto;

}

.label {
    font-size: 28px;
    color:white;
}

.submit {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    font-size: 28px;
    color: grey;
}

.inputs {
    font-size: 28px;
    color: #eceaea;
}

.boardCreate {
    grid-area: boardCreation;
    margin: auto;
}

.boardSelect {
    grid-area: boardSelection;
    margin: auto;
}