* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.jpg");
    height: 100vwh;
}

header {
    background-color: #00b386;
    }

    /* Text */

h1 {
 color: white;
 text-align: center;
 font-size: 4vh;
 padding-top: 1vh;
 padding-bottom: 1vh;
 text-transform: uppercase;
letter-spacing: 0.5em;
}

p {
    color: grey;
    line-height: 2.5em;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1em;
}

h2 {
    size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00b386;
}

h3 {
    size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1C7478;
}

/* Colummn set */

.column_1 {
    display: flex;
    width: 80%;
    float: right;
}

.column_2 {
    display: flex;
    width: 20%;
}

/* New task */

.Insert_Task {
    display: block;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10vh;
    background-color:#eceaea;
    width: 100%;
}

.task_form {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    font-size: 1em;
    width: 100%;
}

.task_text {
    color: #1C7478;
    font-size: 0.75em;
    line-height: 1.5em;
}

.task_input {
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 15px;
    width: 275px;
}

.button {
    margin: 20px;
    display: flex;
    float: right;
    color: #1C7478;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-size: 1em;
    border-radius: 25px;
}

/* Calendar */ 

.ui-widget-content{
    width: auto;
    height:auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ui-datepicker-header{
    color: white;
    background-color: #1C7478;
    line-height: 1.5em;
}

.ui-datepicker-calendar{
 background-color: white;
 width: 100%;
 padding-left: 10px;
 padding-right: 5px;
 padding-bottom: 10px;
 padding-top: 5px;
}

.ui-datepicker-prev{
    padding-left: 3px;
}
.ui-datepicker-next{
    padding-left: 120px;
}

.ui-datepicker-title{
    margin: auto;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Grid */
.grid {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'box_1 box_2 box_3';
    margin: 0;
    width: 100%;
    margin: 20px;
    grid-column-gap: 20px;
}

.box {
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: #eceaea;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box_1 {
    grid-area: box_1;
}

.box_2 {
    grid-area: box_2;
}

.box_3 {
    grid-area: box_3;
}

.task {
    background-color: white;
    border: 1px solid white;
    margin: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

/* Redirect button */

.button_container{
    width: 19%;
    background-color: #eceaea;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    display: block;
    margin-top: 20px;
    height: 30vh;
}
.redirect_button {
    font-size: 1em;
    color: #1C7478;
    background-color: white;
    padding: 20px;
    padding-left: 110px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.button_container p {
    font-size: 1em;
    line-height: 1.5em;
    color: grey;
    padding: 15px;
    margin-top: 10px;
}

/* Landing page */ 

.index_layout {
    display: grid;
    height: 100vh;
    background-color: #00b386;
    grid-template-areas:
    '. . . .'
    'Title Title Title Title'
    '. boardCreation boardSelection .'
    '. . . .'
}

.message {
    color: white;
    grid-area: Title;
    font-size: 80px;
    margin: auto;
}

.label {
    font-size: 28px;
    color:white;
}

.submit {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    font-size: 28px;
    color: grey;
}

.inputs {
    font-size: 28px;
    color: grey;
}

.boardCreate {
    grid-area: boardCreation;
    margin: auto;
}

.boardSelect {
    grid-area: boardSelection;
    margin: auto;
}